.container {
    display: flex;
    flex-direction: column;
  }
  
  .monthRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .month {
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .daysContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
  }
  
  .completed {
    background-color: green;
  }
  
  .incomplete {
    background-color: white;
  }